*{
	box-sizing:border-box;
}

body{

}

.navbar{
	display:flex;
	padding: 5px 20px;
}

.brand-link{
	font-size: 30px;
}

.nav-toggle{
	margin-left:auto;
	cursor: pointer;
}

.nav-list-collapsed{
	display:none;
}

.nav-list{
	text-align: right;
	list-style: none;
}

nav a{
	text-decoration: none;
}